html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
}

h3 {
  font-size: 0.6rem;
  color: #034078;
}

p {
  font-size: 0.6rem;
}

.topnav {
  overflow: hidden;
  background-color: #0A1128;
}

.bottomNav {
  overflow: hidden;
  background-color: white;
  width: 100%;
  margin: auto;
}

body {
  margin: 0;
}

.content {
  padding: 30px;
}

.card-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #034078
}

.card-subtitle {
  font-size: 0.7rem;
  font-weight: bold;
  color: #034078;
  padding-left: 5%;
  padding-right: 5%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 auto;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #F0F0F0;
  outline: none;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border-radius: 0px;
  background: #F0F0F0;
  border: none;
  outline: none;
}

.button:hover {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border-radius: 0px;
  background: #CCCCCC;
  border: none;
  outline: none;
}


.dropbtn {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border-radius: 0px;
  background: #F0F0F0;
  border: none;
  outline: none;
}

.dropbtn:hover {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border-radius: 0px;
  background: #CCCCCC;
  border: none;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #034078;
  cursor: pointer;
}

.switch {
  padding-left: 5%;
  padding-right: 5%;
}

.dropdown {
  margin: 0;
  width: auto;
  height: auto;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: none;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.show {
  display: block;
}

input[type="color"] {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  border: 1px;
  border-style: solid;
  outline: none;
}

#alarmListbox {
  width: 70%;
}

#alarmListbox option {
  width: 70%;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.toggle {
  background-color: #2196F3;
}

input:focus+.toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded toggles */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}
